@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 정보 (SUIT, Pretendard) */
@font-face {
  font-family: SUIT;
  font-weight: normal;
  src:
    local('SUIT'),
    url('../assets/fonts/SUIT-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: normal;
  src:
    local('Pretendard Regular'),
    url('../assets/fonts/Pretendard-Regular.woff2') format('woff2');
}

@layer base {
  html {
    overflow-x: hidden;
  }

  body {
    /* 폰트 설정 */
    font-family: 'SUIT', 'Pretendard', sans-serif;
    overflow-x: hidden;

    /* 색상 설정 */
    --white: #ffffff;
    --black: #000000;
    --black-alpha-60: rgba(30, 30, 30, 0.6);

    --blue-light01: #eef3ff;
    --blue-light02: #bcd7ff;
    --blue-normal01: #5786ff;
    --blue-normal02: #377bff;
    --blue-dark01: #2f5fdd;
    --blue-dark02: #253e7f;
    --blue-dark03: #15254d;

    --gray-light: #f3f4f6;
    --gray-normal: #b7bdcc;
    --gray-dark: #5e6d93;

    --red-light: #f9c4d4;
    --red-normal: #ea3b70;

    /* 포커스 제거 */
    input:focus,
    textarea:focus {
      outline: none;
    }

    /* input type='search'의 기본 css 제거 */
    input::-ms-clear,
    input::-ms-reveal {
      opacity: 0;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
      opacity: 0;
    }

    /* 트랜지션 설정 */
    * {
      @apply transition-all duration-200 ease-in-out;
    }

    /* 트랜지션 해제 */
    .no-transition {
      transition: none !important;
    }
    .no-transition * {
      transition: none !important;
    }

    /* input autofill 스타일 설정 */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      background-color: var(--gray-light) !important;
      transition: none !important;
      box-shadow: 0 0 0 30px var(--gray-light) inset !important;
    }
  }
}
