/* 전체 캘린더 스타일 */
.react-calendar {
  width: 95%;
  height: 100%;
  background: #f8f8fb;
  border: none;
  margin-top: 10px;
}

/* 전체 폰트 컬러 */
.react-calendar__month-view {
  display: flex;
  margin-top: -10px;
}

.react-calendar__month-view abbr {
  color: #15254d;
}

/* 년/월 상단 네비게이션 정렬, 크기 줄이기 */
.react-calendar__navigation {
  justify-content: center;
}

.react-calendar__navigation__label {
  font-weight: bold;
  color: #2f5fdd;
  flex-grow: 0 !important;
}

.react-calendar__navigation:enabled:hover {
  background-color: #5786ff !important;
}

/* 요일 색, 밑줄 */
.react-calendar__month-view__weekdays__weekday--weekend abbr[title='일요일'] {
  color: #ff3629;
}

.react-calendar__month-view__weekdays__weekday abbr[title='토요일'] {
  color: #5786ff;
}

/* 요일 영역 */
.react-calendar__month-view__weekdays {
  flex: 0 0 13% !important;
  margin-right: 4px;
}

/* 각 요일 스타일 */
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  font-weight: 800;
}

/* 타일 영역 */
.react-calendar__month-view__days {
  padding-left: 0.1rem;
}

/* 각 일 스타일 */
.react-calendar__tile {
  border-radius: 12px; /* 모든 날짜 타일을 동그랗게 */
  cursor: pointer;
  height: 56px;
  flex: 0 0 13% !important;
  overflow: hidden;
  box-sizing: border-box;
  margin: 4px;

  &:hover {
    background: #5786ff;
    color: white;
    border-radius: 5px;
  }
}

/* 오늘 날짜 스타일 */
.react-calendar__tile--now {
  background: none;

  abbr {
    color: #5c76ff;
  }
}

/* 클릭 불가능한 날짜 (마우스 오버 또는 포커스 상태) */
.react-calendar__tile:disabled:hover,
.react-calendar__tile:disabled:focus {
  background-color: transparent; /* 기본 배경색으로 설정 */
  cursor: not-allowed; /* 커서를 금지 아이콘으로 변경 */
}

/* 클릭한 날짜 (마우스 오버 또는 포커스 상태) */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #377bff !important; /* 클릭한 날짜 색상 */
  border-radius: 12px !important;
}

/* 클릭된 날짜 (현재 선택된 날짜) */
.react-calendar__tile--active,
.selected {
  background-color: #bcd7ff !important; /* 클릭된 날짜 색상 */
  border-radius: 12px !important;
}

/* 클릭한 날짜의 텍스트 색상 */
.react-calendar__tile--active abbr,
.selected abbr {
  color: #377bff; /* 텍스트 색상 */
}

.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr {
  color: white;
}
