.custom-select {
  -webkit-appearance: none; /* Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* 기본 appearance 제거 */
  -ms-expand: none; /* IE10,11에서 기본 화살표 제거 */
  transition: color 0.05s;
  height: 2.5rem;
  border-radius: 0.75rem;
  outline: none;
  border: none;
  padding-right: 1.875rem;
  padding-left: 1rem;
  background: none;
  background-color: #f8f8fb;
  width: 100%;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none;
}
