@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SUIT;
  font-weight: normal;
  src:
    local('SUIT'),
    url('./assets/fonts/SUIT-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: normal;
  src:
    local('Pretendard Regular'),
    url('./assets/fonts/Pretendard-Regular.woff2') format('woff2');
}
